body {
    line-height: 1.75;
    font-family: "Trebuchet MS", Helvetica, sans-serif
}

.nav {
    background-color: grey;
    z-index: 1;
    border-bottom: 2px solid black;
}
.nav a {
    color: black;
    font-size: 13px;
    font-weight: bold;
    margin: 10px 5px;
    text-decoration: none;
    height: 5vh;
}
.nav a:hover {
    color: white;
    border-bottom: 1px solid black;
}

.nav li {
    display: inline;
}

.jumbotron {
    background-image:url('http://i.imgur.com/tJGW41h.jpg?1g');
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 2px solid black;
}

.jumbotron .container {
    position: relative;
    top: 100px;
}

.jumbotron h1 {
    color: #393c3d;
    font-size: 48px;
    font-weight: bold;
}

.jumbotron p {
    font-size: 15px;
    color: #393c3d;
}

.learn-more {
    background-color: white;
    text-align: center;
    position: fixed;
}

.learn-more h3 {
    font-family: 'Shift', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.learn-more a {
    color: blue;
    text-decoration: none;
}

.learn-more a:hover {
    color: red;
}

.taskbar {
    background-color: white;
    color: #393c3d;
    font-size: 24px;
    text-align: center;
}

.taskbar li {
    display: inline;
}

.taskbar img{
    height: 35px;
    width: 35px;
    margin: 20px;
}

.logo {
    margin: 5em;
}
